{% extends 'layout.html' %}

{% block navBar %}
{% endblock %}

{% block content %}
<body class="uk-height-1-1">

  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 350px;">
      <h1 style="margin-bottom: 20px;">Warehouse Man</h1>
      <form method="get" action="home" class="uk-panel uk-panel-box uk-form" id="login-form">
        <div class="uk-form-row">
          <input class="uk-width-1-1 uk-form-large" type="text" name="username" placeholder="Username">
        </div>
        <div class="uk-form-row">
          <input class="uk-width-1-1 uk-form-large" type="text" name="password" placeholder="Password">
        </div>
        <div class="uk-form-row">
          <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" href="/home">Login</a>
        </div>
        <div class="uk-form-row uk-text-small">
        <!--   <label class="uk-float-left"><input type="checkbox"> Remember Me</label> -->
          <a class="uk-float-left uk-link uk-link-muted" href="/login/signup">Sign Up</a>
          <a class="uk-float-right uk-link uk-link-muted" href="/admin">Admin</a>
        </div>
      </form>

    </div>
  </div>
</body>
{% endblock %}
