{% extends 'layout.html' %}

{% block navBar %}
{% endblock %}

{% block content %}
<body class="uk-height-1-1">

  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 350px;">
      <h1 style="margin-bottom: 20px;">Sign Up</h1>
      <form method="POST" action="/login/signup" class="uk-panel uk-panel-box uk-form" id="login-form">
        {% csrf_token %}

        <div class="uk-form-row">
          <input name="username" class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
        </div>
        <div class="uk-form-row">
          <input name="firstname" class="uk-width-1-1 uk-form-large" type="text" placeholder="First name">
        </div>
        <div class="uk-form-row">
          <input name="surname" class="uk-width-1-1 uk-form-large" type="text" placeholder="Surname">
        </div>
        <div class="uk-form-row">
          <input name="email" class="uk-width-1-1 uk-form-large" type="text" placeholder="Email">
        </div>
        <div class="uk-form-row">
          <input name="password" class="uk-width-1-1 uk-form-large" type="text" placeholder="Password">
        </div>
        <div class="uk-form-row">
          <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit">Register</button>
        </div>
        <div class="uk-form-row uk-text-small">
        <!--   <label class="uk-float-left"><input type="checkbox"> Remember Me</label> -->
          <a class="uk-float-right uk-link uk-link-muted" href="/admin">Admin</a>
        </div>
      </form>

    </div>
  </div>
</body>
{% endblock %}

