<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>{% block title %}Warehouse Man{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.css">
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/uikit.js"></script>
  </head>
  <body>
    {% block navBar %}
    <nav class="uk-navbar">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="">...</a></li>
        <li><a href="">...</a></li>
        <li class="uk-parent"><a href="">...</a></li>
      </ul>
    </nav>
    {% endblock %}
    {% block content %}

    {% endblock %}
  </body>
</html>
